# MongoDB Atlas Connection
MONGO_URI=mongodb+srv://sreenathpalakkatt35_db_user:hsc99nzz66d4Lne8@cluster0.9ogwpwm.mongodb.net/?appName=Cluster0
# JWT Secret
JWT_SECRET=your_super_secret_jwt_key_change_this_in_production

# Server Port
PORT=5000

# Node Environment
NODE_ENV=development
